{% extends 'common/base.html' %}
{% load pagination_tags %}
{% block main_body %}
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="col-sm-1" style="padding-left: 0px;">
                <a type="button" class="btn btn-primary btn-sm" href="{% url 'instance_add' %}">添加实例</a>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-3">
                    <select name="cluster" class="form-control input-sm" id="search_cluster">
                        <option value="">业务集群</option>
                        {% for cluster in instance_cluster %}
                            <option value="{{ cluster }}">{{ cluster }}</option>
                        {% endfor %}
                    </select>
                    <span id="cluster_alert" style="color: #F00;;"></span>
                </div>
            </div>
            <div class="col-sm-3" style="padding-right: 0px;">
                <div class="input-group inline-group">
                    <input type="text" class="form-control input-sm" name="search" id="search_name"/>
                    <div class="input-group-btn" style="margin: 0px">
                        <button type="button" class="btn btn-sm btn-primary" id="search"> -搜索- </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body with-border">
            <table class="table table-striped table-bordered text-center table-hover">
                <thead>
                    <th>#</th>
                    <th>实例名称</th>
                    <th>IP地址</th>
                    <th>版本号</th>
                    <th>业务集群</th>
                    <th>
                        <div>操作</div>
                    </th>
                </thead>
                <tbody id="instance_tbody">
                    {% autopaginate instance_list 10 %}
                    {% for instance in instance_list %}
                        <tr>
                            <td>{{ instance.id }}</td>
                            <td>{{ instance.name }}</td>
                            <td>{{ instance.ip }}</td>
                            <td>{{ instance.ha_version }}</td>
                            <td>{{ instance.cluster }}</td>
                            <td>
                                <a href="/haproxy/instance/update/{{ instance.id }}/" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editInstance" onclick="modify_form({{ instance.id }})">编辑</a>
                                <a href="{% url 'generate_frontend' instance.name %}">
                                    <button type="button" class="btn btn-info btn-sm">frontend</button>
                                </a>
                                <a href="{% url 'generate_backend' instance.name %}">
                                    <button type="button" class="btn btn-danger btn-sm">backend</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-6 pull-right">
                    {% paginate %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="editInstance" aria-labelledby="editInstanceModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="nodeModalLabel">
                        修改实例
                    </h4>
                </div>
                <form class="form-horizontal" method="post" action="" role="form" id="editInstanceForm">
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
           $("#editInstance").on("hidden",function () {
              $(this).removeData("modal");
           });
        });
        function modify_form(id){
            $('#editInstanceForm').attr('action','/haproxy/instance/update/' + id + '/');
        }
        $(function () {
            $('#search').on('click',function () {
                $.ajaxSetup({
                    data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
                });
                var cluster = $('#search_cluster').val();
                var name = $('#search_name').val();
                if(cluster == "" && name == ""){
                    $('#cluster_alert').text('* 请输入业务集群');
                }else if(cluster == "" && name != "") {
                    $.ajax({
                        url: '/haproxy/instance/search/name/',
                        type: 'post',
                        data: {
                            'name': name
                        }, 
                        success: function (res) {
                            console.log(res.instance_list);
                            var dom = '';
                            for(var i=0;i<res.instance_list.length;i++){
                                var domli = '<tr>' +
                                    '<td>' + res.instance_list[i]['id'] + '</td>' +
                                    '<td>' + res.instance_list[i]['name'] + '</td>' +
                                    '<td>' + res.instance_list[i]['ip'] + '</td>' +
                                    '<td>' + res.instance_list[i]['ha_version'] + '</td>' +
                                    '<td>' + res.instance_list[i]['cluster'] + '</td>' +
                                    '<td>' +
                                    '<a href="/haproxy/instance/update/' + res.instance_list[i]['id'] + '" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editInstance" onclick="modify_form(' + res.instance_list[i]["id"] + ')">编辑</a>' +
                                    '<a href="">' +
                                    '\t<button type="button" class="btn btn-info btn-sm">frontend</button>' +
                                    '</a>' +
                                    '<a href="">' +
                                    '\t<button type="button" class="btn btn-danger btn-sm">backend</button>' +
                                    '</a>' +
                                    '</td>' +
                                    '</tr>';
                                dom += domli;
                            }
                            $('#instance_tbody').html(dom);
                            $('.box-footer').html('');
                        },
                        errors: function (error) {
                            console.log(error);
                        }
                    });
                }else if(cluster != "" && name == "") {
                    $.ajax({
                       url: '/haproxy/instance/search/cluster/',
                       type: 'post',
                       data: {
                           'cluster': cluster
                       },
                       success: function (res) {
                           console.log(res.instance_list);
                           var dom = '';
                           for(var i=0;i<res.instance_list.length;i++){
                               var domli = '<tr>' +
                                   '<td>' + res.instance_list[i]['id'] + '</td>' +
                                   '<td>' + res.instance_list[i]['name'] + '</td>' +
                                   '<td>' + res.instance_list[i]['ip'] + '</td>' +
                                   '<td>' + res.instance_list[i]['ha_version'] + '</td>' +
                                   '<td>' + res.instance_list[i]['cluster'] + '</td>' +
                                   '<td>' +
                                   '<a href="/haproxy/instance/update/' + res.instance_list[i]['id'] +'" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editInstance" onclick="modify_form(' + res.instance_list[i]["id"] + ')">编辑</a>' +
                                   '<a href="">' +
                                   '\t<button type="button" class="btn btn-info btn-sm">frontend</button>' +
                                   '</a>' +
                                   '<a href="">' +
                                   '\t<button type="button" class="btn btn-danger btn-sm">backend</button>' +
                                   '</a>' +
                                   '</td>' +
                                   '</tr>';
                               dom += domli;
                           }
                           $('#instance_tbody').html(dom);
                           $('.box-footer').html('');
                       },
                       error: function (error) {
                           console.log(error);
                       }
                    });
                }else if(cluster != "" && name != ""){
                    $.ajax({
                       url: '/haproxy/instance/search/name/cluster/',
                       type: 'post',
                       data: {
                           'name': name,
                           'cluster': cluster
                       },
                       success: function (res) {
                           console.log(res.instance_list);
                           var dom = '';
                           for(var i=0;i<res.instance_list.length;i++){
                               var domli = '<tr>' +
                                   '<td>' + res.instance_list[i]['id'] + '</td>' +
                                   '<td>' + res.instance_list[i]['name'] + '</td>' +
                                   '<td>' + res.instance_list[i]['ip'] + '</td>' +
                                   '<td>' + res.instance_list[i]['ha_version'] + '</td>' +
                                   '<td>' + res.instance_list[i]['cluster'] + '</td>' +
                                   '<td>' +
                                   '<a href="/haproxy/instance/update/' + res.instance_list[i]['id'] + '/" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editInstance" onclick="modify_form(' + res.instance_list[i]["id"] + ')">编辑</a>' +
                                   '<a href="">' +
                                   '\t<button type="button" class="btn btn-info btn-sm">frontend</button>' +
                                   '</a>' +
                                   '<a href="">' +
                                   '\t<button type="button" class="btn btn-danger btn-sm">backend</button>' +
                                   '</a>' +
                                   '</td>' +
                                   '</tr>';
                               dom += domli;
                           }
                           $('#instance_tbody').html(dom);
                           $('.box-footer').html('');
                       }
                    });
                }
            });
        });
    </script>
{% endblock %}